<h1>Welcome, <%= @user.username %>!</h1>
<h2><a href="/items/new">Add a New Item</a></h2>
<h3>List of the latest posted items</h3>
<% @items.each do |item| %>
  <div>
    <p><a href="/items/<%= item.id %>"><%= item.name %></a><p>
  </div>
<% end %>